.loading {
  align-items: center;
  background: #a8ebff;
  display: flex;
  gap: 1.5rem;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 1;
  pointer-events: all;
  position: absolute;
  transition: opacity 300ms ease-in-out;
  top: 0;
  width: 100%;
  z-index: 999;
  &.isHidden {
    pointer-events: none;
    opacity: 0;
  }
  span {
    animation: wave 2300ms ease infinite;
    font-size: 3rem;
    position: relative;
    @for $value from 1 through 7 {
      &:nth-child(#{$value}) {
        animation-delay: #{$value * 0.07}s;
      }
    }
  }
  @keyframes wave {
    0% {
      top: 0px;
    }
    25% {
      top: 2.5rem;
    }
    50% {
      top: 0px;
    }
    75% {
      top: 2.5rem;
    }
    100% {
      top: 0px;
    }
  }
}
