@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.mode-switch {
  background-color: $white-primary;
  border-radius: 10px;
  cursor: pointer;
  height: 16px;
  margin: 0 auto;
  position: relative;
  transition: background-color 200ms ease-in-out;
  width: 34px;
  @include for-md-screen-up {
    height: 20px;
    width: 44px;
  }
  &::before {
    background: #000;
    border-radius: 50%;
    content: '';
    height: 12px;
    left: 3px;
    position: absolute;
    top: 50%;
    transition: left 100ms ease-in;
    transform: translateY(-50%);
    width: 12px;
    @include for-md-screen-up {
      height: 14px;
      left: 4px;
      width: 14px;
    }
  }
  &.isOn {
    background-color: $red;
    &::before {
      left: 19px;
      @include for-md-screen-up {
        left: 26px;
      }
    }
  }
  &-wrap {
    background: $grey;
    border-radius: 30px;
    padding: 6px;
    position: fixed;
    top: 5px;
    right: 2%;
    width: 50px;
    z-index: 10;
    @include for-md-screen-up {
      width: 58px;
    }
  }
}
