@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.heading-wrap {
  grid-area: heading-wrap;
}
.sm-widgets-wrap {
  grid-area: sm-widgets;
  margin-left: 8%;
}
h1 {
  color: $white-primary;
  font-size: 4.5rem;
  font-weight: 300;
}
.quote {
  color: $white-primary;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.6;
  margin-top: 2rem;
}
.widget-item {
  background-color: $white-primary;
  border-radius: 15px;
  box-shadow: 30px 29px 15px 0px rgb(0 0 0 / 35%);
  padding: 1rem 1.5rem;
}
.weather {
  grid-area: weather;
  padding-bottom: 0;
  ul {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    padding-bottom: 1rem;
    li {
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      min-width: 100px;
      padding: 1%;
      position: relative;
      img {
        width: 70%;
      }
    }
  }
  .unit {
    font-size: 1.2rem;
  }
  &__date {
    font-size: 0.9rem;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 1.3rem;
    z-index: 2;
    &::before {
      background-color: #ffe5c1;
      border-radius: 50%;
      content: '';
      left: 50%;
      height: 3.5rem;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 3.5rem;
      z-index: -1;
    }
  }
  &__time {
    font-size: 1.2rem;
    margin-top: 0.2rem;
    text-align: right;
  }
  &__temp {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.4rem;
  }
  &__desc {
    font-size: 1rem;
  }
}
.currency {
  display: inline-block;
  grid-area: currency;
  &__from {
    font-size: 1.4rem;
  }
  &__to {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  &__time {
    font-size: 1rem;
    margin-top: 2rem;
  }
  &__decimal {
    color: $grey-dark;
  }
}
.news {
  grid-area: news;
  height: 350px;
  overflow-y: scroll;
  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  li {
    border: 1px solid $grey;
    border-radius: 5px;
    position: relative;
    img {
      border-radius: 5px;
      object-fit: cover;
      height: 125px;
    }
  }
  &-content {
    height: 180px;
    overflow-y: scroll;
    padding: 1rem;
    .link-bg {
      background-color: $white-primary;
      border-radius: 3px;
      padding: 2px;
      position: absolute;
      right: 5px;
      top: 5px;
      i {
        color: $black-primary;
        font-size: 1.4rem;
      }
    }
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.4;
      a {
        color: inherit;
        font-size: inherit;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-top: 1rem;
    }
  }
}
