@use '../../utilities/variables' as *;
@use '../../utilities/mixins' as *;

.heading-wrap {
  grid-area: heading-wrap;
  h1 {
    color: $white-primary;
    font-size: 4.5rem;
    font-weight: 300;
  }
  .quote {
    color: $white-primary;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.6;
    margin-top: 2rem;
  }
}
