@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

:root {
  --doc-height: 100%;
}

body {
  align-items: center;
  background: no-repeat center center/cover;
  display: flex;
  height: 100vh;
  height: var(--doc-height);
  position: relative;
  width: 100%;
  z-index: -2;
  &::before {
    background: rgba(255, 255, 255, 0.2);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
main {
  height: 90%;
  margin: 0 auto;
  max-width: $max-width;
  overflow-y: scroll;
  padding: 0 4%;
  position: fixed;
  top: 36px;
  left: 0;
  width: 100%;
  @include for-md-screen-up {
    top: 40px;
  }
}
img {
  width: 100%;
}
